# Working With Database Using sqlalchemy

**Author:** Shinin Varongchayakul

**Date:** 24 Jan 2026

In [6]:
# Import packages
from sqlalchemy import create_engine, inspect
import pandas as pd

In [7]:
# Connect to the database
engine = create_engine("sqlite:///chinook.sqlite")

In [8]:
# List the tables

# Get the inspector
inspector = inspect(engine)

# List the table names
tables = inspector.get_table_names()

# Print the table names
print(tables)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [9]:
# Get the table

# Set the query
brazil_customers_query = """
SELECT FirstName, LastName, Phone, Email
FROM Customer
WHERE Country = 'Brazil';
"""

# Query the database
df = pd.read_sql(brazil_customers_query, engine)

# View the df
print(df)

   FirstName   LastName               Phone                          Email
0       Luís  Gonçalves  +55 (12) 3923-5555           luisg@embraer.com.br
1    Eduardo    Martins  +55 (11) 3033-5446       eduardo@woodstock.com.br
2  Alexandre      Rocha  +55 (11) 3055-3278               alero@uol.com.br
3    Roberto    Almeida  +55 (21) 2271-7000  roberto.almeida@riotur.gov.br
4   Fernanda      Ramos  +55 (61) 3363-5547       fernadaramos4@uol.com.br